@{
    Layout = "~/Views/Shared/_LayoutFanfiction.cshtml";
}
@model fanfiction.Models.Fanfiction.GenresModel

<h2 class="table_col mt-5 lang" style="table-layout: fixed; margin-left: 10%; width: 100%;" key="Genres-list"></h2>
 <h4 style="margin-top: 40px" class="lang" key="Sorting"></h4>
 @if (Model.IsSignedIn)
    {
        <input hidden value="1" id="countOfNotSortRows"/>
    }
    else
    {
        <input hidden value="0" id="countOfNotSortRows"/>
    }
    <select style="display: inline-block; width: 30%" id="fandom-select" name="select-lang" required>
        <option class="p-2 lang" key="Category-Name"></option>
        <option class="p-2 lang" key="Description"></option>
        </select>
        <input style="display: inline-block; width: 30%" id="filterInput" onkeyup="filter()">
    <table class="table_col mt-5 sort" id="filter" style="table-layout: fixed; margin-left: 10%; width: 100%;">
        <thead onselectstart="return false" onmousedown="return false">
        <tr style="font-weight: bold">
            <td class="p-2 lang" key="Category-Name"></td>
            <td colspan="3" class="p-2 lang" key="Description"></td>
        </tr>
        </thead>
        <tbody>
        @foreach (var g in Model.genres)
        {
            <tr>
                @if(Model.lang == "ru")
                {
                    <td class="clip">
                        <span class="clip" style="width: 30%">
                            @Html.ActionLink(
                                g.RuName,
                                "ReadGenre",
                                "Fanfiction",
                                new {genreId = g.GenreId})
                        </span>
                    </td>
                    <td style="width: 70%" class="clip" colspan="3">
      
                        <p class="clip">@g.RuDescription</p>
       
                    </td>
                    
                }
                else
                {
                    <td class="clip" style="width: 30%">
                        @Html.ActionLink(
                            g.EnName,
                            "ReadGenre",
                            "Fanfiction",
                            new {genreId = g.GenreId})

                    </td>
                    <td colspan="3" style="width: 70%"><p class="clip">@g.EnDescription</p></td>
                }
                
        
            </tr>
        }   
        </tbody>
        @if (Model.IsSignedIn)
        {
            <tr>

                <th colspan="4" class="p-2">
                    @Html.ActionLink(
                        Model.lang == "ru" ? "+ Добавить жанр" : "+ Add genre",
                        "AddGenre",
                        "Fanfiction",
                        new {})

                </th>
            </tr>
            }
    </table>

<script>
document.querySelector("#fandom-select").addEventListener('change', function (e) {
  document.getElementById("filterInput").value = ''
  filter()
})

</script>